.Container-header {
    margin-bottom: 15px;
}

.Header {
    background-color: #ffffff;
    color: #089dbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}